body {
  background-image: repeating-linear-gradient(
    to bottom right,
    rgb(70, 70, 70),
    gray,
    rgb(70, 70, 70)
  );
  color: white;
  font-family: sans-serif;
  text-align: center;
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}

h1 {
  -webkit-text-stroke: 2px black;
}
/* =============================== BLOB */
#blob {
  width: 119px;
  height: 130px;
  will-change: transform;
}

#speech {
  position: absolute;
  background: rgb(92, 141, 224);
  color: black;
  padding: 10px 14px;
  border-radius: 12px;
  border: 2px solid black;
  max-width: 200px;
  font-size: 14px;

  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}
/* =============================== LOGIN */
form {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 50%;
  height: 500px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* =============================== AGREEMENTS */
#agreements_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 400px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#agmt_viewport {
  flex: 1;
  min-height: 0;
  min-width: 0;
  max-height: 70%;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
  user-select: none;
  order: 2;
}

.scrollbar {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 6px;
  height: calc(100% - 8px);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

#thumb {
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: absolute;
  top: 0;
}

#acceptBtn {
  margin-top: 10px;
  padding: 10px;
  cursor: not-allowed;
  order: 3;
}

#agmt_content :is(p, h1, h2, h3) {
  font-size: 20px;
  white-space: pre-wrap;
  text-align: left;
  text-justify: inter-word;
  /* black text color */
  color: black;
}

#agreementTitle {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  font-family: cursive;
  order: 1;
}
/* =============================== COOKIES CONSENT */
#cookies_box {
  background-image: url("assets/images/cookiesbg.png");
  background-size: cover;
  /* sized like average cookie consent popups */
  width: 300px;
  height: 150px;
  position: fixed;
  bottom: 20px;
  right: 2%;
  border: #ccc solid 2px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#consentBtn {
  background-color: green;
}

#rejectBtn {
  background-color: red;
}

.btn:hover {
  background-color: rgb(101, 101, 101);
  color: white;
}
/* =============================== */
#error_box {
  /* like covered 404 page */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
/* =============================== */
#horizontal_categories {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 1rem;
}

#horizontal_categories a {
  color: white;
  background-color: grey;
  margin-right: 1rem;
  text-decoration: none;
}

#horizontal_categories a :hover {
  color: black;
  background-color: white;
  margin-right: 1rem;
  text-decoration: none;
}

#vertical_categories {
}

.page {
  opacity: 1;
  top: 0%;
  left: 0%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: block;
  overflow-y: auto;
}

.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
  z-index: -1;
}
/* =============================== */
#fake_videos {
}

#sponsors {
}
